* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: cornsilk;
    color: #333;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fff;
    padding: 20px 10%;
}

.nav-links{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-links li{
    margin-left: 20px;
}
.nav-links a{
    color: #fff;
    text-decoration: none;
    padding: 8px 10px;
    display: inline-block;
}

.hero{
    background-color: darkorange;
    color: #fff;
    align-items: center;
    text-align: center;
    padding: 100px 20px;
}

.button-primary{
    background-color: cadetblue;
    color: #fff;
    border-radius: 35px;
    align-items: center;
    text-align: center;
    padding: 5px;
    text-decoration: none;

}

.main{
    padding: 20px 10%;
    text-align: center;

}

.destination-card{
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.destination-card img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
.destination-card h3{
    margin-bottom: 10px;
}
.destination-card p{
    font-size: 14px;
    color: #666;
}
.footer{
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.contact{
    margin-top: 20px;
    text-align: center;
    background-color: rgb(170, 30, 30);
    color: #fff;
    padding: 20px 10%;
    text-decoration: none;
    text-overflow: clip;
}
.contact a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}