*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

p{
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2vw;
    line-height: 2vw;
}

.container{
    line-height: 2;
}

.dibba{
    background-color: rgb(255, 0, 81);
    width: 200px;
    height: 200px;
    margin: 20px 30px 20px 30px;
    padding: 50px 50px 50px 50px;
    border: 5px ;
    border-color: gold;
    border-style: double;
}