*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.parent{
    width: 400px;
    height: 400px;
    background-color: lightseagreen;
}

.child1{
    width: 100vw;
    height: 50vh;
    background-color: cornflowerblue;
}

.child2{
    width: 20rem;
    height: 50rem;
    background-color: coral;
}

