*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#lion{
    color: red;
}
h1{
    background-color: yellow;
    display: inline;
}

#red{
    width: 100px;
    height: 70px;
    background-color: red;
}
#blue{
    position: absolute;
    left: 30%;
    width: 80px;
    height: 40px;
    background-color: blue;
}       
#green{
    width: 90px;
    height: 70px;
    background-color: green;
}

#parent{
    position: relative;
    width: 100px;
    height: 100px;
    background-color: orange;
}
#child{
    position: absolute;
    left: 20%;
    width: 50px;
    height: 50px;
    background-color: purple;
}